.cards-grid {
  margin-top: 45em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
  padding: 3%;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .cards-grid {
    grid-template-columns: 1fr;
    margin-top: 150em;
    padding: 5%;
    grid-gap: 5%;
  }
}

.box-buttons {
  padding: 5%;
  text-align: center;
}

.card-titles {
  padding: 10%;
}

.card-container {
  width: 95%;
  background-color: rgba(247, 187, 198, 0.79);
  padding: 2%;
  border-radius: 5%;
}

.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.callejeros {
  width: 35%;
  height: auto;
  align-items: center;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
  align-content: center;
}

.card-hoverable:hover .project-img {
  opacity: 0.1;
}

.card-hoverable:hover .middle {
  opacity: 1;
}

.text-btn {
  background-color: turquoise;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  margin-left: 1em;
}
