.container-sn {
  width: 100%;
  padding: 3%;
  margin-top: 110em;
}

@media only screen and (max-width: 600px) {
  .container-sn {
    margin-top: 260em;
    width: 100%;
  }
  .title-sn {
    padding: 2%;
  }
  .static-sn {
    max-height: auto;
    margin-left: 1% !important;
    max-width: 100% !important;
    text-align: center;
  }
}

.title-sn {
  padding: 1%;
  font-size: 4em;
}
.static-sn {
  max-width: 60%;
  margin-left: 15em;
}
.box-social {
  cursor: pointer;
  background-color: rgb(245, 187, 197);
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  padding: 5%;
  text-align: center;
}

.content {
  overflow: hidden;
  font-size: 1em;
  background: rgb(171, 230, 228);
  text-align: center;
}

/* mouse over link 
a:hover {
  color: whitesmoke;
}
/* selected link  color: black !important; 
a:active {
  color: white;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: yellow;
}

.content-wrapper {
  padding: 5%;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  border-color: white !important;
}
