.footer-style {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  background-color: rgba(175, 238, 238, 0.609);
  text-align: center;
  padding: 2%;
  border-radius: 5%;
  border-left-style: dotted;
  color: white;
}
.footer-txt {
  font-size: 200%;
}
.footer-btn {
  background-color: transparent;
  border: none;
}

.footer-btn:hover {
  border: 3px dashed white;
  color: aquamarine;
}
