.footer-p {
  text-shadow: 2px 1px mediumturquoise;
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  color: black;
}
.footer-sticky-area {
  margin-top: 136em;
  margin-left: 15%;
}
@media only screen and (max-width: 600px) {
  .footer-sticky-area {
    margin-top: 265em;
    margin-left: 5%;
  }
}
