.body {
  height: 100vh;
  width: 100vw;
}

.container-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 50% 8% 50% repeat(3, 80%) 5% 5% / 1fr 1fr 1fr;
  grid-template-areas:
    'header header header'
    'nav-bar nav-bar nav-bar'
    'about-me about-me profile'
    'skills skills skills'
    'projects projects projects'
    'social-feed social-feed social-feed'
    'contact contact contact'
    'footer footer footer';
  grid-row-gap: 5%;
}

.header {
  grid-area: header;
  padding: 0%;
  text-align: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.profile {
  grid-area: profile;
  padding: 0%;
  text-align: center;
}

.profile-pic {
  border-radius: 10%;
  margin-top: 10em;
}

.profile-pic:hover {
  -webkit-filter: brightness(3);
  filter: brightness(3);
}
.nav-bar {
  grid-area: nav-bar;
  background-color: turquoise;
}
.about-me {
  grid-area: about-me;
  align-items: center;
}

.skills {
  grid-area: skills;
  align-items: center;
  justify-items: center;
}
.social-feed {
  grid-area: social-feed;
}
.slider {
  grid-area: slider;
}
.projects {
  grid-area: projects;
  max-width: 100%;
  max-height: 100%;
}
.footer-area {
  grid-area: footer;
}
.contact {
  grid-area: contact;
}
/*the grid ends and begin text styles*/
.title {
  font-family: 'Satisfy', cursive;
  font-size: 6.5em;
  text-align: center;
}
.subtitle {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  text-align: center;
  color: black;
  padding: 3%;
}
.text-paragraph {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  color: white;
}
.hand-writing {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  color: black;
}
/* mediaquery for small screens */
@media only screen and (max-width: 600px) {
  .container-grid {
    display: grid;
    grid-template: 25% 8% 50% 50% repeat(3, 80%) 5% 5% / 1fr 1fr 1fr;
    grid-template-areas:
      'header header header'
      'nav-bar nav-bar nav-bar'
      'profile profile profile'
      'about-me about-me about-me'
      'skills skills skills'
      'projects projects projects'
      'social-feed social-feed social-feed'
      'contact contact contact'
      'footer footer footer';
    grid-row-gap: 5%;
  }
  .logo {
    max-width: 120%;
    max-height: 120%;
  }
  .profile {
    padding: 0%;
    text-align: center;
  }
  .profile-pic {
    margin-top: 1em;
  }
  .title {
    font-size: 5em;
  }
}
.shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*
.carousel {
  position: flex;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 500px;
}

/* fonts
font-family: 'Berkshire Swash', cursive;
font-family: 'Cookie', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;

*/
